<!DOCTYPE html>
<html>

<head>
  <title>Web 安全演示 </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
</head>

<body>
  <h1>Web 安全演示 - XSS</h1>

  <form action="/welcome" method="post" enctype="application/x-www-form-urlencoded">
    <label for="user">您的名字： </label><input type="text" name="user" id="user" autocomplete="false">
  </form>

</body>

</html>